<a target="_blank" rel="noopener" href="/codeberg/org/src/PrivacyPolicy.md">Privacy Policy</a>
<a target="_blank" rel="noopener" href="/codeberg/org/src/en/bylaws.md">Bylaws/Satzung</a>
<a target="_blank" rel="noopener" href="/codeberg/org/src/Imprint.md">Imprint/Impressum</a>
<a target="_blank" rel="noopener" href="/codeberg/org/src/TermsOfUse.md">Terms of Use</a>
<a target="_blank" rel="noopener" href="https://docs.{{AppDomain}}/contact/#abuse">Report Abuse</a>
